<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.MtimeFieldTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.common.persistence.model.MtimeFieldT">
        <id column="UUID" property="uuid" />
        <result column="cinema_id" property="cinemaId" />
        <result column="film_id" property="filmId" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="hall_id" property="hallId" />
        <result column="hall_name" property="hallName" />
        <result column="price" property="price" />
    </resultMap>

    <resultMap id="FilmInfoMap" type="com.cskaoyan.bean.cinema.FilmInfoVo">
        <result column="film_id" property="filmId"/>
        <result column="film_name" property="filmName"/>
        <result column="film_length" property="filmLength"/>
        <result column="film_cats" property="filmCats"/>
        <result column="film_language" property="filmType"/>
        <result column="actors" property="actors"/>
        <result column="img_address" property="imgAddress"/>
        <collection property="filmFields" ofType="com.cskaoyan.bean.cinema.FilmFieldVo">
            <result column="UUID" property="fieldId"/>
            <result column="begin_time" property="beginTime"/>
            <result column="end_time" property="endTime"/>
            <result column="film_language" property="language"/>
            <result column="hall_name" property="hallName"/>
            <result column="price" property="price"/>
        </collection>
    </resultMap>

    <select id="selectFilmInfoByCinemaId" resultMap="FilmInfoMap">
        select
        h.film_id,h.film_name,h.film_length,h.film_language,h.film_cats,actors,h.img_address,
        f.UUID,f.begin_time,f.end_time,f.hall_name,f.price
        from mtime_hall_film_info_t h LEFT JOIN mtime_field_t f
        on f.film_id = h.film_id
        where
        f.cinema_id = #{cinemaId}
    </select>


    <resultMap id="HallInfoMap" type="com.cskaoyan.bean.cinema.HallInfo">
        <id column="UUID" property="hallFieldId" />
        <result column="hall_name" property="hallName" />
        <result column="price" property="price" />
        <result column="seat_address" property="seatFile"/>
    </resultMap>

    <select id="selectHallInfoByFieldId" resultMap="HallInfoMap">
        select f.UUID,f.hall_name,f.price,hd.seat_address from mtime_field_t f
        LEFT JOIN mtime_hall_dict_t hd on f.hall_id = hd.UUID
        where f.UUID = #{fieldId}
    </select>

    <select id="selectFilmInfoByCinemaIdAndFieldId" resultMap="FilmInfoMap">
        select hf.film_id,hf.film_name,hf.film_language,hf.img_address,hf.film_cats,hf.film_length
        from mtime_hall_film_info_t hf LEFT JOIN mtime_field_t f on hf.film_id = f.film_id
        where f.cinema_id = #{cinemaId} and f.hall_id = #{fieldId}
    </select>
</mapper>
