<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.MtimeCinemaTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.common.persistence.model.MtimeCinemaT">
        <id column="UUID" property="uuid" />
        <result column="cinema_name" property="cinemaName" />
        <result column="cinema_phone" property="cinemaPhone" />
        <result column="brand_id" property="brandId" />
        <result column="area_id" property="areaId" />
        <result column="hall_ids" property="hallIds" />
        <result column="img_address" property="imgAddress" />
        <result column="cinema_address" property="cinemaAddress" />
        <result column="minimum_price" property="minimumPrice" />
    </resultMap>
    <select id="selectCinemaByOptions" resultMap="BaseResultMap">
        select *
        from mtime_cinema_t
        where 1=1
        <if test="brandId!=null and brandId !='' and brandId != '%99%' ">
            and cast(brand_id as char) like #{brandId}
        </if>
        <if test="areaId!=null and areaId != '' and areaId != '%99%'">
            and cast(area_id as char) like #{areaId}
        </if>
        <if test="hallIds!=null and hallIds !='' and hallIds != '%99%'">
            and hall_ids like #{hallIds}
        </if>
    </select>

</mapper>
