<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.film.dao.MtimeFilmTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.film.bean.MtimeFilmT">
        <id column="UUID" property="uuid" />
        <result column="film_name" property="filmName" />
        <result column="film_type" property="filmType" />
        <result column="img_address" property="imgAddress" />
        <result column="film_score" property="filmScore" />
        <result column="film_preSaleNum" property="filmPresalenum" />
        <result column="film_box_office" property="filmBoxOffice" />
        <result column="film_source" property="filmSource" />
        <result column="film_cats" property="filmCats" />
        <result column="film_area" property="filmArea" />
        <result column="film_date" property="filmDate" />
        <result column="film_time" property="filmTime" />
        <result column="film_status" property="filmStatus" />
    </resultMap>

    <select id="queryHotFilmCount" resultType="Integer">
        select * from mtime_film_t where film_score >= 8.5 and film_status = #{status}
    </select>
    <select id="queryHotFilm" resultType="com.stylefeng.guns.rest.film.bean.rebuild.HotFilm">
        select UUID as filmId,film_type as filmType,img_address as imgAddress,film_name as filmName,film_score as filmScore from mtime_film_t
        where film_score >= 8.5 and film_status = #{status} order by film_score desc
    </select>
    <select id="querySoonFilmCount" resultType="Integer">
        select * from mtime_film_t where film_status = #{status}
    </select>
    <select id="querySoonFilm" resultType="com.stylefeng.guns.rest.film.bean.rebuild.SoonFilm">
        select UUID as filmId,film_type as filmType,img_address as imgAddress,film_name as filmName,film_preSaleNum as expectNum,film_time as showTime from mtime_film_t
        where film_status = #{status} order by film_time
    </select>
    <select id="queryBoxRankFilm" resultType="com.stylefeng.guns.rest.film.bean.rebuild.BoxRankFilm">
        select UUID as filmId,img_address as imgAddress,film_name as filmName,film_box_office as boxNum from mtime_film_t where film_status = 1 order by film_box_office desc
    </select>
    <select id="getExpectRankFilm" resultType="com.stylefeng.guns.rest.film.bean.rebuild.ExpectRankFilm">
        select UUID as filmId,img_address as imgAddress,film_name as filmName,film_preSaleNum as expectNum from mtime_film_t where film_status = 2 order by film_preSaleNum desc
    </select>
    <select id="getTopFilm" resultType="com.stylefeng.guns.rest.film.bean.rebuild.TopFilm">
        select UUID as filmId,img_address as imgAddress,film_name as filmName,film_score as score from mtime_film_t where film_status != 2 ORDER BY score LIMIT 0,100
    </select>
</mapper>
